// Specific CSS for your home-page
body{
  background-color: white;
}

a {
  text-decoration: none;
}

.mainbar{
  height: 400px;
  background-color: #27374D;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  color: #DDE6ED;
}

.mainbar p {
  margin: 0px;
  font-size: 30px;
}

.mainbar h1 {
  font-size: 100px;
}

.main-img {
  background-image: url(beryl.jpg);
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}

.parcours h3 {
  font-size: 50px;
  color: #526D82;
}

.parcours p {
  color: #27374D;
  font-style: italic;
  text-align: justify;
}


.second-main{
  display: flex;
}
.contact{
  width: 50%;
  background-color: #DDE6ED;
  color: #27374D;
  height: 200px;
  /* padding: 50px; */
  /* text-align: center; */
  padding: 30px;

}

.contact h3 {
  font-size: 40px;
  font-weight: bold;
}
.contact p {
  margin-left: 5px ;
  margin-bottom: 0px;
  font-size: 20px;
}

.contact a {
  color: #27374D;
}

.contact a:hover {
  color: orange;
}

.location {
  width: 50%;
  padding: 30px;
  background-color: #526D82;
  color: white;
}

.location h3 {
  font-size: 40px;
  font-weight: bold;
}

.location p {
  margin-left: 5px ;
  margin-bottom: 0px;
  font-size: 20px;
}

.ml{
  margin-left: 100px;
}

.footer {
  height: 100px;
  background-color: #9DB2BF;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


@media (max-width: 768px){

  .ml{
    margin-left: 30px ;
  }

  .mainbar h1 {
    font-size: 55px;
  }

}


@media (max-width: 375px){

  .ml{
    margin: 0px;
  }
  .mainbar p {
    margin: 0px;
    font-size: 10px;
  }

  .main-img{
    height: 120px;
    width: 120px;
  }

  .mainbar h1 {
    font-size: 20px;
  }

  .mainbar{
    height: 200px;
    padding: 20px;
  }

  .contact{
    padding: 10px;
    height: 140px;
  }

  .location{
    padding: 10px;
    height: 140px;
  }

  .second-main h3 {
    font-size: 25px;
  }

  .second-main p {
    font-size: 13px;
  }

}

@media (max-width: 425px){

  .ml{
    margin: 0px;
  }
  .mainbar p {
    margin: 0px;
    font-size: 10px;
  }

  .main-img{
    height: 120px;
    width: 120px;
  }

  .mainbar h1 {
    font-size: 20px;
  }

  .mainbar{
    height: 200px;
    padding: 20px;
  }

  .contact{
    padding: 10px;
    height: 140px;
  }

  .location{
    padding: 10px;
    height: 140px;
  }

  .second-main h3 {
    font-size: 25px;
  }

  .second-main p {
    font-size: 13px;
  }

}

@media (max-width: 320px) {

  .ml{
    margin: 0px;
  }

  .mainbar p {
    margin: 0px;
    font-size: 10px;
  }

  .main-img{
    height: 120px;
    width: 120px;
  }

  .mainbar h1 {
    font-size: 20px;
  }

  .mainbar{
    height: 200px;
    padding: 20px;
  }

  .contact{
    padding: 10px;
    height: 140px;
  }

  .location{
    padding: 10px;
    height: 140px;
  }

  .second-main h3 {
    font-size: 25px;
  }

  .second-main p {
    font-size: 13px;
  }

}
