// Specific CSS for your home-page
.mainbar{
  height: 400px;
  background-color: #27374D;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  color: #DDE6ED;
}

.mainbar p {
  margin: 0px;
  font-size: 30px;
}

.mainbar h1 {
  font-size: 100px;
}

.main-img {
  background-image: url(beryl.jpg);
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}
