<div class="mainbar">
  <div class="main-title">
    <h1>Beryl Pic-Paris</h1>
    <p>Coaching Professionnel</p>
    <p>Life coaching</p>
  </div>
  <div class="main-img">

  </div>
</div>

<div class="second-main">
  <div class="contact">
    <div class="ml">
      <h3>Contact</h3>
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-phone"></i> <p>0674256102</p>
      </div>
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-envelope"></i> <p>bpicparis@yahoo.fr</p>
      </div>
      <div >
        <a href="https://www.linkedin.com/in/b%C3%A9ryl-pic-paris-99508626/" target="_blank" class="d-flex align-items-center">
          <i class="fa-brands fa-linkedin"></i> <p>Béryl Pic-Paris</p>
        </a>
      </div>
    </div>
  </div>

  <div class="location">
    <div class="ml">
      <h3>Où</h3>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-location-dot"></i><p>60 rue Goïot, 51100 Reims</p>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-camera"></i><p>Partout en France, en visio</p>
        </div>

      </div>
  </div>
</div>

<div class="container mt-5 parcours">

  <h3 class="parcourstitle">Mon parcours</h3>

  <div class="text1">
    <p> En septembre 2021 après une vie professionnelle bien remplie de métiers et rencontres différentes,
    et une vie personnelle riche, maman de 3 fils, j’ai eu envie de mettre à profit ces expériences au
    service d’autrui et suivre une formation pour devenir Coach professionnelle.
    J’ai suivi celle de l’Ifod à Paris et obtenu après un an de formation intense la certification en juin
      2023 </p>
  </div>
  <div class="text2">
      <p> Après une scolarité à Sainte Marie de Neuilly, une maitrise de biochimie à Paris VI complétée par des
    études commerce-marketing à l’ISC, j’ai eu un parcours professionnel très diversifié :
    En 1995, j’ai passé un an sur les routes de France comme commerciale pour les laboratoires Pierre
    Fabre en pharmacie.
    En 1996, 2 mois après notre mariage nous sommes partis avec 2 valises et 1 contact à Santiago du
    Chili pour «vivre l’aventure», j’ai pu avec ma double formation travailler dans des grands groupes
    français: l’Oréal, Aventis, Sodexho dans des fonctions marketing et assistante de direction.
    J’ai découvert une culture, une façon de travailler, des méthodes complètement différentes des
    nôtres qui m’ont fait progresser.
    En 2000 le Chili étant trop loin de la France, nous décidons de nous installer à Madrid, où j’ai pu
    exercer le métier de professeur de SVT, physique-chimie, technologie de la 6 ème à la seconde; j’ai
    évidemment beaucoup appris mais surtout j’ai transmis à des jeunes et cela m’a plu de donner,
    d’écouter, de faire preuve d’empathie auprès d’adolescents parfois avec un certain mal être.
    En 2009 je me suis installée avec mes enfants à Perpignan, passionnée par le vin, j’ai suivi une
    formation au Lycée viticole de Rivesaltes et j’ai dirigé un domaine de 40 hectares dans le Roussillon;
    cette expérience a été une fois de plus très riche, j’ai découvert un univers difficile, très masculin où
    j’ai dû m’adapter et apprendre.
    En 2012, j’ai décidé de m’installer à Reims, et après un poste dans une Maison de Champagne, j’ai
    créé un cabinet de conseil en stratégie de développement pour les exploitations viticoles, à travers 3
    départements: étude/ audit, formation via un organisme de formation certifié Qualiopi et un
    accompagnement individuel des exploitations.</p>
  </div>
  <div class="text3">
    <p> Aujourd’hui je réalise que ce métier de coach me correspond pleinement car de toutes mes
    expériences, parcours de vie, difficultés, je suis sortie grandie, j’ai progressé et j’aimerais à mon tour
    transmettre et faire prendre conscience aux personnes qui viendront me voir qu’il y a un potentiel en
    chacun de nous. Je souhaite faire profiter de cette découverte à d’autres. Je suis sensible, je suis
    empathique, accompagner donne un sens à ma vie.</p>
  </div>
</div>


<div class="footer">
  <p>Développé par Galmier</p>
</div>
